<div class="container-fluid background sidenav h-100">
  <div class="content position-relative">
    <div class="header border-bottom border-light">
      <h4 class="text-center m-0">{{environment.app.name}}</h4>
    </div>

    <div class="links py-3">
      <ul class="nav nav-pills nav-fill flex-column">
        <li class="nav-item my-1" *ngFor="let nav of navbars">
          <a class="nav-link py-3 pointer" *ngIf="nav.virtual" (click)="nav.child.length==0?clickHandler(nav.link):nav.isOpen=!nav.isOpen">
            <ng-container *ngTemplateOutlet="linkText;context:{nav:nav}"></ng-container>
          </a>
          <a class="nav-link py-3" *ngIf="!nav.virtual" [routerLink]="[nav.link]" routerLinkActive='active'>
            <ng-container *ngTemplateOutlet="linkText;context:{nav:nav}"></ng-container>
          </a>
          <ng-container *ngTemplateOutlet="linkTemplate;context:{nav:nav}"></ng-container>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Child Nav -->
<ng-template #linkTemplate let-nav="nav">
  <ul *ngIf="nav.child.length" [ngbCollapse]="!nav.isOpen" class="nav nav-pills nav-fill flex-column ml-2">
    <li class="nav-item my-1" *ngFor="let cnav of nav.child">
      <a class="nav-link py-3 pointer" *ngIf="cnav.virtual" (click)="cnav.child.length==0?clickHandler(cnav.link):null">
        <ng-container *ngTemplateOutlet="linkText;context:{nav:cnav}"></ng-container>
      </a>
      <a class="nav-link py-3" *ngIf="!cnav.virtual" [routerLink]="[nav.link,cnav.link]" routerLinkActive='active'>
        <ng-container *ngTemplateOutlet="linkText;context:{nav:cnav}"></ng-container>
      </a>
    </li>
  </ul>
</ng-template>

<!-- Nav text -->
<ng-template #linkText let-nav="nav">
  <span class="mr-3" *ngIf="nav.display=='both'||nav.display=='icon'"><fa-icon [icon]="['fas',nav.icon]" size="lg" ></fa-icon></span>
  <span class="text-uppercase small">{{nav.display=='both'||nav.display=='text'?nav.title:''}}</span>
  <span *ngIf="nav.virtual && nav.child.length" class="float-right"> <fa-icon [icon]="['fas',nav.isOpen?'caret-up':'caret-down']"></fa-icon> </span>
</ng-template>
