@import '../../../themes/variables.scss';

.sidenav{
  color: $sidenav-font-color;

  &.background{
    background: url(../../../assets/img/sidenav/background.jpg);
    background-position: center;
    background-size: cover;
    box-sizing: border-box;

    &:after, &:before{
      opacity: 1;
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &:before{
      background: $sidenav-overlay-color-dark;
      opacity: .35;
      background-size: 150% 150%;
      z-index: 2;
    }

    &:after{
      background: $sidenav-overlay-color-start;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $sidenav-overlay-color-start), color-stop(100%, $sidenav-overlay-color-end));
      background: -webkit-linear-gradient(top, $sidenav-overlay-color-start 0%, $sidenav-overlay-color-end 100%);
      background: linear-gradient(to bottom, $sidenav-overlay-color-start 0%, $sidenav-overlay-color-end 100%);
      background-size: 150% 150%;
      z-index: 3;
    }
  }

  .content{
    z-index: 4;

    .header{
      margin-left: -15px;
      margin-right: -15px;
      padding-top: 0.8rem;
      padding-bottom: 0.9rem;
    }

    .links{
      .nav-link{
        text-align: left;
        color: $sidenav-font-color;
        transition: all 0.5s ease-in-out;
        &.active, &:hover{
          background: $sidenav-active-link-color;
        }
      }
    }
  }

}
